#files
*.[oa]
*.bak
kernel
*~
tools/bochsout.txt
*.sconsign.dblite
*.pyc
scripts/pyawk.py

#directories
_*/
tools/dmd/backend/
lib/Bkup/
out/
#Do not ignore the img folder itself
!img/
#but ignore everything inside it
img/*
#but let gurb_files be unignored!
!img/grub_files/